.banner-container {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('../../../images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}