/* ------- Google fonts ---------*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); /*font-family: 'Abril Fatface', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); /*font-family: 'Poppins', sans-serif;*/

.abril-font {
  font-family: 'Abril Fatface', cursive;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
